.text-field {
    color: #9EA2AE;
    font-size: small;

}

.icon {
    color: #12B5A5;
}

.label-text {
    color: black;
    font-size: medium;
}

button:hover {
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}